
.container div {
    justify-content: right;
    background-size: cover;
    height: 555px;
    width: 100%;
    position: relative;
}
.container div h1,
.container div p{
    color: #fff;
    text-align: right;
    margin-right: 20%;
    padding: 4% 0 0 44%;
    width: 33%;
}
.op01{
    background-image: url('../img/fotos-queijos.png');
}.op02{
    background-image: url('../img/pizza_e_Focaccie.png');
}.op03{
    background-image: url('../img/panini.png');
}.op04{
    background-image: url('../img/tradicional_portuguesa.png');
}.op05{
    background-image: url('../img/caramelos_e_Guloseimas.png');
}.op06{
    background-image: url('../img/massas_Italianas.png');
}.op07{
    background-image: url('../img/legumes_em_lata.png');
}.op08{
    background-image: url('../img/conservas.png');
}.op09{
    background-image: url('../img/snacks.png');
}.op10{
    background-image: url('../img/gelados_e_Sobremesas.png');
}.op11{
    background-image: url('../img/frutos_Secos.png');
}.op12{
    background-image: url('../img/molhos.png');
}.op13{
    background-image: url('../img/azeite.png');
}.op14{
    background-image: url('../img/biscoitos.png');
}.op15{
    background-image: url('../img/aperitivos.png');
}