
.container div {
    justify-content: right;
    background-size: cover;
    height: 555px;
    width: 100%;
    position: relative;
}
.container div h1,
.container div p{
    color: #fff;
    text-align: right;
    margin-right: 20%;
    padding: 4% 0 0 44%;
    width: 33%;
}
.op01{
    background-image: url('../img/queijos.jpg');
}.op02{
    background-image: url('../img/pizza_e_Focaccie.jpg');
}.op03{
    background-image: url('../img/panini.jpg');
}.op04{
    background-image: url('../img/tradicional_portuguesa.jpg');
}.op05{
    background-image: url('../img/caramelos_e_Guloseimas.jpg');
}.op06{
    background-image: url('../img/massas_Italianas.jpg');
}.op07{
    background-image: url('../img/legumes_em_lata.jpg');
}.op08{
    background-image: url('../img/conservas.jpg');
}.op09{
    background-image: url('../img/snacks.jpg');
}.op10{
    background-image: url('../img/gelados_e_Sobremesas.jpg');
}.op11{
    background-image: url('../img/frutos_Secos.jpg');
}.op12{
    background-image: url('../img/molhos.jpg');
}.op13{
    background-image: url('../img/azeite.jpg');
}.op14{
    background-image: url('../img/biscoitos.jpg');
}.op15{
    background-image: url('../img/aperitivos.jpg');
}