*{
    margin: 0px;
    padding: 0px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
}

header{
    background-color: rgba(0,0,0,0.55);
    position: fixed;
    width: 100%;
    color: #fff;
    z-index: 99999999;
}
header div{
    display: inline-flex;
}
header div .menu{
    display: inline-flex;
    padding: 60px 0 0 300px;
}

header div .menu a{
    padding: 0 22px;
    text-decoration: none;
    color: #fff;
}

#oqfazemos{
    letter-spacing: 0px;
    line-height: 1.6;
    margin: 66px 0
}
#oqfazemos h2{
    font-size: 38px;
    margin-bottom: 44px;
    font-weight: 700;
}
#oqfazemos p{
    font-size: 24px;
    font-weight: normal;
    font-family:  Helvetica, Arial, sans-serif;
}
#clients{
    margin: 4% 0 11%;
}
#clients h2{
    color: #362BAC;
    font-family: "Helvetica", Sans-serif;
    font-size: 34px;
    font-weight: 100;
    text-transform: uppercase;
}
#clients p{
    font-family: "Helvetica", Sans-serif;
    font-size: 25px;
    font-weight: 100;
    
}
#clients .options{
    display: inline-flex;
    margin: 33px 66px 0 0;
}
#clients .options img{
    max-width: 300px;
    margin: 22px 0;
}

.serviceBanner{
    background-image: url('./img/bg01.png');
    background-size: cover;
}
.serviceBanner div{
    padding: 5%;
    background-color: rgba(0,0,0,0.6);
}
.serviceBanner h2{
    font-family: "Helvetica", Sans-serif;
    font-size: 40px;
    font-weight: 100;
    text-transform: uppercase;
    color: #00A9FF;
}
.serviceBanner p{
    color: #d1d1d1;
    font-size: 23px;
}

#services .listProdu div{
    display: inline-flex;
    margin: 2px 11px;
}

#services .listProdu div .produBox{
    width: 288px;
    height: 288px;
    display: inline;
    border: 4px solid #000;
    background-size: cover;
    color: #fff;
    font-weight: 500;
    font-size: 22px;
}

#services .listProdu div .produBox div{
    background-color: rgba(0,0,0,0.8);
    width: 100%;
    display: inline-block;
    height: inherit;
    margin: 0 -11px;
}

#services .listProdu div .produBox div p{
    margin-top: 100px;
}


#services .listProdu div .prod1{
    background-image: url('./img/prot01.jpg');
}#services .listProdu div .prod2{
    background-image: url('./img/protPizza01.jpg');
}#services .listProdu div .prod3{
    background-image: url('./img/protSandwich01.jpg');
}#services .listProdu div .prod4{
    background-image: url('./img/protQuindim01.jpeg');
}



#val{
    padding: 6% 0;
    background-color: #e5e5e5;
}

#val h2 {
    font-size: 36px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 44px;
}
.valores div > div{
    min-width: 222px;
    padding: 22px 44px;
    color: #080808;
    font-family: "Helvetica", Sans-serif;
    font-size: 25px;
    font-weight: 400;
}


.aboutIcon{
    background-color: #282828;
    padding: 2% 0;
}
#about h2{
    font-size: 36px;
    font-weight: 100;
    text-transform: uppercase;
    color: #FFF9F9;
    margin: 1% 0 5%;
}
#about p{
    font-family: Oswald;
    font-size: 17px;
    font-weight: 400;
    letter-spacing: 0px;
    line-height: 1.6;
    color: #FFF9F9;
    text-align: initial;    
}

.iconAbout {
    font-family: "Helvetica", Sans-serif;
    font-size: 25px;
    font-weight: 100;
    color: #ffffff;
    padding: 4%;
}
.iconAbout p{
    margin-bottom: 11%;
}

footer{
    background-color: #060303;
    color: #fff;
    font-family: Oswald;
    font-size: 17px;
    font-weight: 400;
    letter-spacing: 0px;
    line-height: 1.6;
    text-transform: uppercase;
    padding: 2% 11%;

}